---
import type { CollectionEntry } from 'astro:content';
import Page from '../components/Page.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { SITE_TITLE } from '../consts';

type Props = CollectionEntry<'posts'>;

const { data, id } = Astro.props;
const { title, description, pubDate } = data;
---

<Page title={`${title} - ${SITE_TITLE}`} description={description}>
  <header class="-mx-5 px-5 border-b border-muted pb-5">
    <h1 class="font-bold">{title}</h1>
    <span class="text-[var(--base03)]">
      <FormattedDate date={pubDate} />
    </span>
    <p class="text-[var(--base04)]">{description}</p>
  </header>

  <div class="prose max-w-5xl py-5">
    <slot />
  </div>

  <footer class="content__footer"></footer>

  <div class="aside__content" slot="aside">
  </div>
</Page>
