---
import type { CollectionEntry } from 'astro:content';
import Page from '../components/Page.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { SITE_TITLE } from '../consts';

type Props = CollectionEntry<'posts'>;

const { data, id } = Astro.props;
const { title, description, pubDate } = data;
---

<Page title={`${title} - ${SITE_TITLE}`} description={description}>
  <header class="content__header">
    <h1>{title}</h1>
  </header>

  <aside></aside>

  <div class="content__body">
    <hr />

    <slot />
  </div>

  <footer class="content__footer"></footer>

  <div class="aside__content" slot="aside">
    <p>{description}</p>
    <span style="color: var(--base03)">
      <FormattedDate date={pubDate} />
      (<a href={`https://github.com/hbjydev/hbjy.dev/blob/main/src/content/${id}`}>Source</a>)
    </span>
  </div>
</Page>
